@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

h3 {
    font-weight: bold;
    color: purple;
}

#hero-card {
    height: 600px;
}

img {
    height: 600px;
}

.flex-container-signup {
    display: grid;
    margin-top: 56px;
    margin-bottom: 49px;
    width: calc(100vw-20px);
    height: calc(100vh - 105px);
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto 25%;
}

.signup {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 30px;
    align-items: center;
}

.signup > .signup-form > div {
    margin: 15px;
}

.flex-container-login {
    display: grid;
    margin-top: 56px;
    width: calc(100vw-20px);
    margin-bottom: 49px;
    height: calc(100vh - 105px);
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto 25%;
}

.login {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 30px;
    align-items: center;
}

.login >div{
    margin:15px;
}
.reservationtitle{
    margin:10px;
    grid-column-start:2;
    grid-row-start:1;
    align-self:center;
}
.reservation {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 30px;
    align-items: center;
}
.flex-container-reservation {
    display: grid;
    margin-top: 56px;
    width: calc(100vw-20px);
    margin-bottom: 49px;
    height: calc(100vh - 105px);
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 10% auto 25%;
}
.flex-container-profilesettings {
    display: grid;
    margin-top: 56px;
    width: calc(100vw-20px);
    margin-bottom: 49px;
    height: calc(100vh - 105px);
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 5% auto 25%;
}

.profilesettings {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 30px;
    align-items: center;
}

.profilesettings > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profilesettings > div > button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > flex-item {
    margin: 10px;
    flex-basis: 33%;
}

.flex-container > * {
    margin: 10px;
    flex-basis: 20%;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-container-signup {
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 5% auto 30%;
    }
    .flex-container-login {
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 5% auto 5%;
    }
    .flex-container-profilesettings {
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 5% auto 5%;
        margin-bottom: 73px;
        height: calc(100% - 129px);
    }
    .flex-container-reservation {
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 10% auto 5%;
        margin-bottom: 73px;
        height: calc(100% - 129px);
    }
}

@media (max-width: 1024px) {
    .flex-container > * {
        margin: 10px;
        flex-basis: calc(50% - 20px);
    }
}

@media (min-width: 1025px) {
    .flex-container-signup {
        grid-template-columns: 40% auto 40%;
    }
    .flex-container-login {
        grid-template-columns: 40% auto 40%;
    }
    .flex-container-profilesettings {
        grid-template-columns: 25% auto 25%;
    }
    .profilesettings > div {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.index-title {
    text-align: center;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

 #blazor-error-ui .dismiss {
    cursor: pointer;
     position: absolute;
       right: 0.75rem;
     top: 0.5rem;
 }
#form {
    background-color: lightgray;
    opacity: .8;
}
 .opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
  }
  .opacity-0h5:hover {
    opacity:1!important;
  }
  
 .loader{
     position: relative;
 }
 .loader span{
     position: absolute;
     width: 3px;
     height: 3px;
     background: #0f0;
     display: block;
     animation: animate 5s linear infinite;
     box-shadow: 0 0 10px #0f0,
                 0 0 40px #0f0,
                 0 0 80px #0f0,
                 0 0 160px #0f0;
                 animation-delay: calc(-0.5s * var(--i));
                 transform-origin:bottom ;
 }
 @keyframes animate{
     0%
     {
         top:0;
         left: 80px;
         transform: scaleY(1);
         filter: hue-rotate(0deg);
     }
     2%
     {
         top:0px;
         left: 80px;
         transform: scaleY(0.4);
     }
     10%
     {
         top:0px;
         left: 70px;
         transform: scaleY(1);
     }
     40%
     {
         top:0px;
         left: 10px;
     }
     60%
     {
         top: 20px;
         left: 10px;
     }
     85%
     {
         top:20px;
         left: 80px;
     }
     100%
     {
         top:0;
         left: 80px;
         filter: hue-rotate(360deg);
     }
 }