@inherits LayoutComponentBase
<div class="page">

    <div class="main ">
        
                <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top ">
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse row" id="collapse_target">
                        <span class="navbar-text col-3 text-warning font-weight-bold">Nearby Produce</span>
                       
                        <ul class="navbar-nav col-4 ">
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="">Hem</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-warning" data-toggle="dropdown" data-target="dropdown_target" href="#">
                                    Köpare
                                    <span class="oi-caret-right"></span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdown_target">
                                    <ul class="navbar-nav">
                                        <a class="dropdown-item" href="#">Anders1</a>
                                        <a class="dropdown-item" href="#">Anders2</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Anders3</a>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="ProfileSettingsView">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" href="#">Kontakt</a>
                            </li>

                        </ul>
                    </div>
                </nav>
    
        <div class="content px-4" id="gg">
            @Body
        </div>
    </div>
    <footer>
        <nav class="navbar navbar-expand-md  navbar-dark bg-primary fixed-bottom opacity-0h5">
            <a class="text-warning">Nearby Produce © 2020 Copyright: Grupp-4</a>
             <div class="loader col-3 " style="padding-bottom: 1.5rem; " >
                            <span style="--i:0;"></span>
                            <span style="--i:1;"></span>
                            <span style="--i:2;"></span>
                            <span style="--i:3;"></span>
                            <span style="--i:4;"></span>
                            <span style="--i:5;"></span>
                            <span style="--i:6;"></span>
                            <span style="--i:7;"></span>
                            <span style="--i:8;"></span>
                            <span style="--i:9;"></span>
                            <span style="--i:10;"></span>
                        </div>
                        
        </nav>
    </footer>
</div>
@code{

}
