.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}


.dropdown-item:hover {
    cursor: pointer;
}

#hero{
    margin-top: 56px;
}

@media (max-width: 870.98px) {
}
@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

/*****************
    NavBarLoggedIn
******************/

.not-logged-in-menu {
    display: none;
}

.logged-in-menu {
    display: normal;
}

/*****************
    Footer
******************/

.footer {
    align-self: center;
    justify-content: center;
}