@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inherits LayoutComponentBase

<div class="page">

    <div class="main ">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top ">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>

            <span class="navbar-text col-6 font-weight-bold text-white text-center">Nearby Produce</span>
            <div class="collapse navbar-collapse row" id="collapse_target">
                <ul class="navbar-nav col-sm-6 text-center">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/">
                            <span class="oi oi-home" aria-hidden="true"></span> Hem
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/markets">
                            <span class="oi oi-basket" aria-hidden="true"></span> Marknader
                        </NavLink>
                    </li>
                    <AuthorizeView Policy="IsBuyer">
                        <li>

                                @if (expandSubNav != true)
                                {
                                    <NavLink style="cursor:pointer" class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                                        <span class="oi oi-person" aria-hidden="false"></span> Konto <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                                    </NavLink>
                                }
                                else
                                {
                                    <NavLink style="cursor:pointer" class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                                        <span class="oi oi-person" aria-hidden="true"></span> Konto <span class="oi oi-chevron-top" aria-hidden="true"></span>
                                    </NavLink>
                                }
                                @if (expandSubNav)
                                {<div class="dropdown-menu show">
                                        <NavLink class="expand-menu" href="/profilesettingsview">
                                            <span class="text-black-50 nav-link-span">Profil</span>
                                        </NavLink>
                                        <NavLink class="" href="/reservations">
                                            <span class="text-black-50 nav-link-span">Reservationer</span>
                                        </NavLink>
                                        <NavLink class="" @onclick="Logout">
                                            <span class="text-black-50 nav-link-span">Logga ut</span>
                                        </NavLink>
                                    </div>
                                }
                            </li>
                    </AuthorizeView>
                    <AuthorizeView Policy="IsSeller">

                        <Authorized>
                            <li>

                                @if (expandSubNav != true)
                                {
                                    <NavLink style="cursor:pointer" class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                                        <span class="oi oi-person" aria-hidden="false"></span> Konto <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                                    </NavLink>
                                }
                                else
                                {
                                    <NavLink style="cursor:pointer" class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                                        <span class="oi oi-person" aria-hidden="true"></span> Konto <span class="oi oi-chevron-top" aria-hidden="true"></span>
                                    </NavLink>
                                }
                                @if (expandSubNav)
                                {<div class="dropdown-menu show">
                                     <NavLink class="expand-menu" href="/profilesettingsview">
                                         <span class="text-black-50 nav-link-span">Profil</span>
                                     </NavLink>
                                     <NavLink class="" href="/sellerpage">
                                         <span class="text-black-50 nav-link-span">Säljarsida</span>
                                     </NavLink>
                                     <NavLink class="" @onclick="Logout">
                                         <span class="text-black-50 nav-link-span">Logga ut</span>
                                     </NavLink>
                                 </div>
                                }
                            </li>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/login">
                                    <span class="oi oi-account-login" aria-hidden="true"></span> Logga in
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </nav>

        <div class="content px-4" id="hero">
            @Body
        </div>
        <footer class="footer card-footer fixed-bottom text-md-center bg-primary">
            <a class="text-white"> Nearby Produce © 2020 Copyright: Grupp-4</a>
        </footer>
    </div>
</div>
@code{
    private bool expandSubNav;

    async Task Logout()
    {
        var localStateProvider = (LocalAuthenticationStateProvider)authenticationStateProvider;
        await localStateProvider.LogoutAsync();
        navigationManager.NavigateTo("/");
    }
}
