@inherits LayoutComponentBase
<div class="page">

    <div class="main ">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top ">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse row" id="collapse_target">
                <span class="navbar-text col-6 font-weight-bold text-white text-center">Nearby Produce</span>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/">
                            <span class="oi oi-home" aria-hidden="true"></span> Hem
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/markets">
                            <span class="oi oi-basket" aria-hidden="true"></span> Marknader
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                            <span class="oi oi-person" aria-hidden="true"></span> Konto <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                        </NavLink>
                        @if (expandSubNav)
                        {<div class="dropdown-menu-sm-left">
                            <NavLink class="expand-menu" href="/profilesettingsview">
                                <span class="text-white">Profil</span>
                            </NavLink>
                            <NavLink class="" href="/reservations">
                                <span class="text-white">Reservationer</span>
                            </NavLink>
                            <NavLink class="" href="/sellerpage">
                                <span class="text-white">Säljarsida</span>
                            </NavLink>
                            <NavLink class="" href="/">
                                <span class="text-white">Logga ut</span>
                            </NavLink>
                        </div>
                        }
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content px-4" id="hero">
            @Body
        </div>
        <footer class="footer card-footer fixed-bottom text-md-center bg-primary">
            <a class="text-white"> Nearby Produce © 2020 Copyright: Grupp-4</a>
        </footer>
    </div>
</div>
@code{
    private bool expandSubNav;
}
