.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

#hero{
    margin-top:56px;
}

@media (max-width: 870.98px) {
}
@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/*****************
    NavBar
******************/
.navbar-text{
    cursor: default;
}
.navbar-nav {
    justify-content: center;
}

.nav-link {
    cursor: pointer;
}
.nav-link-span {
    cursor: pointer;
    margin: 5px;
    justify-content: center;
}

.dropdown-menu{
    justify-content: center;
}
.not-logged-in-menu {
    display: none;
}

.logged-in-menu {
    display: normal;
}

/*****************
    Footer
******************/

.footer {
    align-self: center;
    justify-content: center;
}