@page "/"
@inject HttpClient http;

<h1 class="index-title">Nearby Produce Prototype</h1>


@code {
    List<Message> Messages = new List<Message>();

    private async Task GetMessages()
    {
        Messages = await http.GetJsonAsync<List<Message>>("https://localhost:44317/api/v1.0/GetMessages");
    }

    public class Message
    {
        public int Id { get; set; } = 0;
        public string Text { get; set; } = "";
    }
}