@page "/"
@using BlazorApp_Frontend.Data
@inject MessageService Messageservice

<h1>@WelcomeMessage</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    public string WelcomeMessage;

    protected override async Task OnInitializedAsync()
    {
        var message = Messageservice.GetMessages();
        var text = message.Result;
        WelcomeMessage = "message.Result.MessageText";
    }
}
