@page "/"
@inject HttpClient http;
@inject UserRepository userRepo
@using Data;
@using Services;

<h1 class="index-title">Nearby Produce Prototype</h1>


<button class="btn btn-success" @onclick="@Onclick">Get Users</button>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var User in users )
        {
        <tr>
            <td>@User.Email</td>
            <td>@User.Username</td>
            <td>@User.Type </td>
        </tr>
        }
    </tbody>
</table>
@code {

    List<User> users = new List<User> { };
    private async Task Onclick()
    {
        users = await userRepo.GetAllUsers();
    }

