@page "/"
@using BlazorApp_Frontend.Data
@inject  MessageService service;

<h1>@WelcomeMessage</h1>
<button class="btn btn-success" @onclick="@clickFunction">Click me!</button>
<h2>@message</h2>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    public string WelcomeMessage = "Welcome to the Produce Market!";
    public string message;

    private void clickFunction()
    {
        var result =  service.GetMessages();
        message = result.Result.Text;
    }
   

}
