@page "/ProfileSettingsView"
@inject UserRepository userRepo
@using Data;
@using Services;
<div class="flex-container-profilesettings">
    <div class="card profilesettings">
        @*<EditForm Model="@user" OnValidSubmit="@ValidateUser">*@
        <div>
            <h3>Profil inställningar</h3>
        </div>
        <div>
            <label for="validationDefault01">Användarnamn</label>
            <input type="text" class="form-control disabled" id="validationDefault01" placeholder="Användarnamn" value=@user.Username disabled>
        </div>
        <div>
            <label for="validationDefault02">Nytt Användarnamn</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Användarnamn" required>
        </div>
        <div>
            <label for="validationDefault01">Lösenord</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Lösenord" value="*********" disabled>
        </div>
        <div>
            <label for="validationDefault02">Nytt Lösenord</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Nytt lösenord " required>
        </div>
        <div>
            <label for="validationDefault01">Mailadress</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="mailadress" value=@user.Email disabled>
        </div>
        <div>
            <label for="validationDefault02">Ny mailadress</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Mailadress" required>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-success" data-toggle="Spara ändringar">Spara ändringa</button>
            <button type="button" class="btn btn-outline-danger">Ta bort mitt konto</button>
        </div>
        @*</EditForm>*@
    </div>
</div>
@code {
    private User user = new User { };

    protected override async Task OnInitializedAsync()
    {
        user = await userRepo.GetUserById(1);
    }
}
