@page "/ProfileSettingsView"
    <div class="display-3 text-center">Profile inställningar</div>
    <div class="input-group input-group-lg" style="margin-top: 2em">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Förnamn</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg" style="margin-top: 1em">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Efernamn</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg" style="margin-top: 1em">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg" style="margin-top: 1em">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Ny Email</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>

    <div class="input-group input-group-lg" style="margin-top: 1em">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Nuvanrande lösenord</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>

    <div class="input-group input-group-lg" style="margin-top: 1em">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Nytt lösenord</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg" style="margin-top: 1em">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Bekräfta nytt lösenord</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <p class="text-center" style="margin-top: 1em">
        <button type="button" class="btn btn-outline-danger">Ta bort mitt konto</button>
        <button type="button" class="btn btn-outline-info">Hämta profil</button>
        <button type="button" class="btn btn-outline-success">Spara</button>

    </p>

    @code {

    }
