@page "/reservation"
    
    <div class="flex-container-reservation">
        <div class="reservationtitle">
            <h3>Mina reservationer</h3>
        </div>
        <div class="card reservation">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Produkt</th>
                        <th scope="col">Antal</th>
                        <th scope="col">Pris</th>
                        <th scope="col">Säljare</th>
                        <th scope="col">Ta bort</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Äpple</td>
                        <td>5st</td>
                        <td>25kr</td>
                        <td>Oscar Kempe  </td>
                        <td><button type="button" class="btn btn-outline-danger"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    @code {


    }
