@page "/reservations"
@using BlazorApp_Frontend.Data
@using BlazorApp_Frontend.Services
@inject UserRepository userRepo

<div class="flex-container-reservation">
    <div class="reservationtitle">
        <h3>Mina reservationer</h3>
    </div>
    <div class="card reservation">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produkt</th>
                    <th scope="col">Antal</th>
                    <th scope="col">Pris</th>
                    <th scope="col">Ta bort</th>
                </tr>
            </thead>
            <tbody>
            @if (user.UserProducts != null)
            {
                @foreach (var userProduct in user.UserProducts)
                {
                    <tr>
                        <td>@userProduct.product.Name</td>
                        <td>@userProduct.product.Stock</td>
                        <td>@userProduct.product.Price</td>
                        <td><button type="button" class="btn btn-outline-danger" /></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Loading...</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code {

    User user = new User();
    protected override async Task OnInitializedAsync()
    {
        user = await userRepo.GetUserById(2);
    }

}
