@page "/SellerPage"
@inject HttpClient http;
@inject SellerPageRepository selllerPageRepository;
@inject ProductRepository productRepository;
@using Data;
@using Services;


<h2 class="text-center font-weight-bold">@sellerpage.Name</h2>
<div class="d-flex flex-wrap">


    <div class="card d-flex">
        <img alt="Standard Seller" class="card-img-top" src="Images/placeholder.png" />
        <div class="card-body">
            <h4 class="card-title">Potatis</h4>
            <p class="card-text">10 kr styck</p>
            <p class="card-text">100 potatisar i lager</p>
        </div>
    </div>
    <div class="card d-flex">
        <img alt="Standard Seller" class="card-img-top" src="Images/placeholder.png" />
        <div class="card-body">
            <h4 class="card-title">Äpplen</h4>
            <p class="card-text">5 kr styck</p>
            <p class="card-text">35 Äpplen i lager</p>
        </div>
    </div>
</div>
@code {

    SellerPage sellerpage = new SellerPage();
    List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        sellerpage = await selllerPageRepository.GetSellerPageByUserId(1);
    }
}