@page  "/login"
@using BlazorApp_Frontend.Data
@using BlazorApp_Frontend.Services
@inject NavigationManager NavigationManager
@inject UserService UserService

<div class="flex-container-login">
    <div class="login card">
        <EditForm Model="@user" OnValidSubmit="@ValidateUser">
            <div>
                <h3>Nearby-Produce Login</h3>
            </div>
            <div>
                <input placeholder="email" class="form-control" @bind="user.Email"/>
            </div>
            <div>
                <input type="password" class="form-control" placeholder="password" @bind="user.Password"/>
            </div>
            <div>
                <input type="submit" class="btn btn-outline-primary btn-lg" value="Login" />
                <br/>
                <a href="/signup">Sign up</a>
            </div>
        </EditForm>
        @if (correctLogin)
        {
            <p>Log in successful</p>
        }
    </div>
</div>

@code {

    private User user = new User();
    private bool correctLogin;

    private async Task<bool> ValidateUser()
    {
        return correctLogin = await UserService.LoginAsync(user);
    }

}