@page  "/login"
@using BlazorApp_Frontend.Data
@using Newtonsoft.Json
@using BlazorApp_Frontend.Services
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject LoginService LoginService

<div class="flex-container-login">
    <div class="login card">
        @*<EditForm Model="@user" OnValidSubmit="@ValidateUser">*@
            <div>
                <h3>Nearby-Produce Login</h3>
            </div>
            <div>
                <input placeholder="email address or username" class="form-control" />
            </div>
            <div>
                <input type="password" class="form-control" placeholder="password" />
            </div>
            <div>
                <input type="submit" class="btn btn-outline-primary btn-lg" value="Login" />
                <br/>
                <a href="/signup">Sign up</a>
            </div>
        @*</EditForm>*@
    </div>
</div>

@code {

    private User user;

    private async Task<bool> ValidateUser()
    {
        var correctLogin = await LoginService.LoginAsync(user);
    }

}